<li id="<%= taskId %>_item">
  <div>
    <input type="checkbox" name="<%= taskId %>" id="<%= taskId %>"<%= checked %>>
    <label for="<%= taskId %>">
      <i class="fa <%= tasks.checkIcon(task.completed_at) %>"></i>
      <%= task.name %>
    </label>
  </div>
  <div class="details">
    <strong><%= task.category %></strong>
    <span>by <%= task.created_by %></span>
    <span><%= dueFragment %><%= timeTaken %></span>
  </div>
</li>
